.card1 {
  background-color: #8bc997;
}
.card2 {
  background-color: #8bc8c9;
}
.card3 {
  background-color: #d1888f;
}
.card-title1 {
  margin-bottom: 0.75rem;
  background-color: #349131;
}
.card-title2 {
  margin-bottom: 0.75rem;
  background-color: #314791;
}
.card-title3 {
  margin-bottom: 0.75rem;
  background-color: #913159;
}

/* img {
  float: left;
  margin: 1px;
  padding: 20x;
} */

.sidenav {
 
}